{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">An Awesome Tagline Goes Here</p>
      </div>
    </div>
  </div>
</div>

<h2>Servers</h2>
<table class="table-condensed" align="center">
  <thead>
    <tr>
      <th scope="col">AWS Server</th>
      <th scope="col">AWS vCPU</th>
      <th scope="col">AWS RAM</th>
      <th scope="col">AWS Hourly Cost</th>
      <th scope="col">AWS Monthly Cost</th>
      <th scope="col">Get Monthly Cost</th>
      <th scope="col"></th>
      <th scope="col">DO Server</th>
      <th scope="col">DO Cost</th>
    </tr>
  </thead>
    {% for object in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{ object.aws_sku }}</th>
      <th>{{ object.aws_vCPU }}</th>
      <th>{{ object.aws_ram }}</th>
      <th>{{ object.aws_cost_per_hour }}</th>
      <th>${{ object.aws_cost_per_month }}</th>
      <th>${{ object.get_month_cost }}</th>
      <th></th>
      <th>{{ object.do_sku_equivalent }}</th>
      <th>${{ object.do_cost_per_month }}</th>
    </tr>
    {% endfor %}
  </tbody>
  </table>

{% endblock container %}

{% block scripts %}
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script>

   function init_map() {
     // Enter the latitude and longitude of your office here
	 var myLocation = new google.maps.LatLng(40.7235371, -74.0065314);

     var mapOptions = {
          center: myLocation,
          zoom: 14
     };

	 var marker = new google.maps.Marker({
	   position: myLocation,
	   title:"We are here"});

     var map = new google.maps.Map(document.getElementById("map-container"),
                                   mapOptions);
	 marker.setMap(map);
   }

   google.maps.event.addDomListener(window, 'load', init_map);
  </script>
{% endblock scripts %}
